<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <label for="text">Input text here:</label><br>
    <textarea name="text" id="text"></textarea><br>
    <input type="submit" value="Send">
</form>
<hr>
{% if messages %}
    {% for m in messages %}
        <div id="message{{ m.pk }}">
            {% if m.reply_to %}
                This message is reply to: <a href="#message{{ m.reply_to.pk }}">{{ m.reply_to.pk }}</a><br>
            {% endif %}
            Creating time: {{ m.datetime }}<br>
            Text: {{ m.text }}<br>
            <a href="{% url 'reply' m.pk %}">Reply</a>
            <hr>
        </div>
    {% endfor %}
{% else %}
    No messages!
{% endif %}
</body>
</html>