<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reply to message</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <label for="text">Input reply for message {{ reply }} here:</label><br>
    <textarea name="text" id="text"></textarea><br>
    <input type="submit" value="Send">
</form>
</body>
</html>